body {
  background-color: white;
  display: flex;
  justify-content: center;
  color: #7b2cbf;
  text-align: center;
}
p {
  text-align: left;
}
input {
  border: 1px solid #7b2cbf;
  padding: 5px 10px;
  width: 500px;
}
input:focus {
  outline: #7b2cbf;
  box-shadow: 0 0 3px #7b2cbf;
}
#add, #clear {
  border: 1px solid #7b2cbf;
  padding: 5px 10px;
  margin-left: -5px;
  color: white;
  transition: 0.5s;
  background-color: #7b2cbf;
  cursor: pointer;
  outline-width: 0px;
}
#add:hover, #clear:hover {
  background-color:#7b2cbf;
  font-weight: bold;
  opacity: 0.8;
  color: white;
}
#clear {
  border-radius: 5px;
}
#error{
  display: none;
}
#error.show {
  display:block;
}
#check, #edit, #delete{
  border: none;
  background-color: white;
  color: #7b2cbf;
  font-size: 1rem;
}
.tasks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}
.check, .edit, .delete{
  color: #7b2cbf;
  background-color: white;
  margin: 5px;
  border: none;
  font-size: 1rem;

}


i {
  pointer-events: none;
}
