body {
  background-color: white;
  display: flex;
  justify-content: center;
  color: #7b2cbf;
  text-align: center;
}
p {
  text-align: left;
}
input {
  border: 1px solid #7b2cbf;
  padding: 5px 10px;
  width: 500px;
}
input:focus {
  outline: #7b2cbf;
  box-shadow: 0 0 3px #7b2cbf;
}
button {
  border: 1px solid #7b2cbf;
  padding: 5px 10px;
  margin-left: -5px;
  color: #7b2cbf;
  transition: 0.5s;
  background-color: #ffcbf2;
}
button:hover {
  background-color: #10002b;
  opacity: 0.8;
}
#clear {
  border-radius: 5px;
}
#error {
  visibility: hidden;
}
